app/delivery.jade
extends layout

block content
  section#delivery-page
    .content-container
      article.g-d-8.g-t-7.g-m-12
        form(name="register", method="get")
          h2 Delivery Details:
          .g-d-12
            label(for="address") Address
            input(name="address", type="text")
          .g-d-8.g-t-12
            label(for="city") City
            input(name="city", type="text")
          .g-d-4.g-t-12
            label(for="zipcode") Post Code/Zip Code
            input(name="zipcode", type="text")
          .g-d-8.g-t-12
            label(for="phone") Phone
            input(name="phone", type="text")
          .g-d-4.g-t-12
            label(for="country") Country
            select.js-chosen(name="country")
              option(value="uk") United Kingdom
              option(value="uk") United Kingdom
              option(value="uk") United Kingdom
              option(value="uk") United Kingdom
          .g-d-12
            input.button(type="submit", value="Continue")
            .secured-payments
              h5 Secured payments with
              span
                img(src="img/payment-icons/verified-by-visa.svg")
                img(src="img/payment-icons/mastercard-securecode.svg")
                img(src="img/payment-icons/mastercard.svg")
                img(src="img/payment-icons/visa.svg")
                img(src="img/payment-icons/geotrust.svg")

      aside.g-d-4.g-t-5.g-m-12
        section
          h2 Included in this offer:
          ul.ul-circle
            li Free iPod Shuffle 2GB
            li Postal and handling fee for your welcome gift
        section.your-price-only
          h2 Your Price Only
          p NZ$4.00
        section.product-image
          img(src="img/ipod.png")
    footer.g-d-100
      h3 What is Wippy? 
      p It is an entertainment shopping website that provides shoppers an opportunity to purchase high end items for as low as 5% of its actual retail price! Shoppers simply buy the right to bid on items and win auctions at the lowest prices anywhere!

app/assets/delivery.html
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]> <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]> <html class="no-js ie8" lang="en"> <![endif]-->
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>brunch-static-skeleton</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/jquery.min.js"></script>
    <!--[if lte IE 9]> <script src="js/media.match.min.js"></script> <![endif]-->
    <!--[if lte IE 8]> <script src="js/selectivizr.js"></script> <![endif]-->
    <script src="js/vendor.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]> <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p> <![endif]-->
    <div class="header-container">
      <header>
        <h1 class="logo"><a href="#"><span>Wippy.com</span><img src="img/logo-wippy.svg"></a></h1>
      </header>
    </div>
    <div class="main-container">
      <section id="delivery-page">
        <div class="content-container">
          <article class="g-d-8 g-t-7 g-m-12">
            <form name="register" method="get">
              <h2>Delivery Details:</h2>
              <div class="g-d-12">
                <label for="address">Address</label>
                <input name="address" type="text">
              </div>
              <div class="g-d-8 g-t-12">
                <label for="city">City</label>
                <input name="city" type="text">
              </div>
              <div class="g-d-4 g-t-12">
                <label for="zipcode">Post Code/Zip Code</label>
                <input name="zipcode" type="text">
              </div>
              <div class="g-d-8 g-t-12">
                <label for="phone">Phone</label>
                <input name="phone" type="text">
              </div>
              <div class="g-d-4 g-t-12">
                <label for="country">Country</label>
                <select name="country" class="js-chosen">
                  <option value="uk">United Kingdom</option>
                  <option value="uk">United Kingdom</option>
                  <option value="uk">United Kingdom</option>
                  <option value="uk">United Kingdom</option>
                </select>
              </div>
              <div class="g-d-12">
                <input type="submit" value="Continue" class="button">
                <div class="secured-payments">
                  <h5>Secured payments with</h5><span><img src="img/payment-icons/verified-by-visa.svg"><img src="img/payment-icons/mastercard-securecode.svg"><img src="img/payment-icons/mastercard.svg"><img src="img/payment-icons/visa.svg"><img src="img/payment-icons/geotrust.svg"></span>
                </div>
              </div>
            </form>
          </article>
          <aside class="g-d-4 g-t-5 g-m-12">
            <section>
              <h2>Included in this offer:</h2>
              <ul class="ul-circle">
                <li>Free iPod Shuffle 2GB</li>
                <li>Postal and handling fee for your welcome gift</li>
              </ul>
            </section>
            <section class="your-price-only">
              <h2>Your Price Only</h2>
              <p>NZ$4.00</p>
            </section>
            <section class="product-image"><img src="img/ipod.png"></section>
          </aside>
        </div>
        <footer class="g-d-100">
          <h3>What is Wippy? </h3>
          <p>It is an entertainment shopping website that provides shoppers an opportunity to purchase high end items for as low as 5% of its actual retail price! Shoppers simply buy the right to bid on items and win auctions at the lowest prices anywhere!</p>
        </footer>
      </section>
      <footer>
        <p>Wippy is owned by Flamingo Intervest and its payments are handled through Envi Payments Ltd. &copy; 2013 Wippy</p>
      </footer>
    </div>
  </body>
</html>
