app/index.jade
extends layout

block content
  section#front-page
    article.g-d-12
      h1.headline Get an iPod Shuffle 2 GB. <span><b>Free</b>!<i>*</i></span>
      img.arrow-down2(src="img/arrow-down2.svg")
      img.arrow-down(src="img/arrow-down.svg")
    aside.g-d-12
      section.what-you-get.g-d-4.g-t-7.g-m-12
        h2.h2-uppercase This is what you get:
        ul.ul-check
          li Free iPod Shuffle 2GB
          li 1 day free* Wippy Gold Membership
          li 95% Guaranteed savings on luxury brands
        p.footnote You only have to pay delivery fee of NZ$ 4.00
      section.product.g-d-4
        img.product-image(src="img/ipod.png")
      section.enter-email.g-d-4.g-t-5.g-m-12
        form(name="register", method="get")
          h2 Enter your email:
          input(name="email", type="text")
          h3 Choose your colour:
          select(name="color").js-choose-color
            option(value="black", data-color="#767579", data-img="img/ipodshuffle-spacegray.png") Black
            option(value="white", data-color="#C3C3C3", data-img="img/ipodshuffle-silver.png") White
            option(value="purple", data-color="#C392C0", data-img="img/ipodshuffle-purple.png") Purple
            option(value="pink", data-color="#ED8185", data-img="img/ipodshuffle-pink.png") Pink
            option(value="yellow", data-color="#F7F716", data-img="img/ipodshuffle-yellow.png") Yellow
            option(value="blue", data-color="#0BB2E1", data-img="img/ipodshuffle-blue.png") Blue
            option(value="green", data-color="#6FC9A0", data-img="img/ipodshuffle-green.png") Green
          label.checkbox-in-label
            input(type="checkbox")
            span I accept Wippy's <a href="#">Terms and Conditions</a> and allow Wippy to send me email</a>
          .arrow-container
            input.button.button-full-width(type="submit", value="Continue")
            img(src="img/arrow-right2.svg")

    footer.g-d-12
      h3 What is Wippy? 
      p It is an entertainment shopping website that provides shoppers an opportunity to purchase high end items for as low as 5% of its actual retail price! Shoppers simply buy the right to bid on items and win auctions at the lowest prices anywhere!

app/assets/index.html
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]> <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]> <html class="no-js ie8" lang="en"> <![endif]-->
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>brunch-static-skeleton</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/jquery.min.js"></script>
    <!--[if lte IE 9]> <script src="js/media.match.min.js"></script> <![endif]-->
    <!--[if lte IE 8]> <script src="js/selectivizr.js"></script> <![endif]-->
    <script src="js/vendor.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]> <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p> <![endif]-->
    <div class="header-container">
      <header>
        <h1 class="logo"><a href="#"><span>Wippy.com</span><img src="img/logo-wippy.svg"></a></h1>
      </header>
    </div>
    <div class="main-container">
      <section id="front-page">
        <article class="g-d-12">
          <h1 class="headline">Get an iPod Shuffle 2 GB. <span><b>Free</b>!<i>*</i></span></h1><img src="img/arrow-down2.svg" class="arrow-down2"><img src="img/arrow-down.svg" class="arrow-down">
        </article>
        <aside class="g-d-12">
          <section class="what-you-get g-d-4 g-t-7 g-m-12">
            <h2 class="h2-uppercase">This is what you get:</h2>
            <ul class="ul-check">
              <li>Free iPod Shuffle 2GB</li>
              <li>1 day free* Wippy Gold Membership</li>
              <li>95% Guaranteed savings on luxury brands</li>
            </ul>
            <p class="footnote">You only have to pay delivery fee of NZ$ 4.00</p>
          </section>
          <section class="product g-d-4"><img src="img/ipod.png" class="product-image"></section>
          <section class="enter-email g-d-4 g-t-5 g-m-12">
            <form name="register" method="get">
              <h2>Enter your email:</h2>
              <input name="email" type="text">
              <h3>Choose your colour:</h3>
              <select name="color" class="js-choose-color">
                <option value="black" data-color="#767579" data-img="img/ipodshuffle-spacegray.png">Black</option>
                <option value="white" data-color="#C3C3C3" data-img="img/ipodshuffle-silver.png">White</option>
                <option value="purple" data-color="#C392C0" data-img="img/ipodshuffle-purple.png">Purple</option>
                <option value="pink" data-color="#ED8185" data-img="img/ipodshuffle-pink.png">Pink</option>
                <option value="yellow" data-color="#F7F716" data-img="img/ipodshuffle-yellow.png">Yellow</option>
                <option value="blue" data-color="#0BB2E1" data-img="img/ipodshuffle-blue.png">Blue</option>
                <option value="green" data-color="#6FC9A0" data-img="img/ipodshuffle-green.png">Green</option>
              </select>
              <label class="checkbox-in-label">
                <input type="checkbox"><span>I accept Wippy's <a href="#">Terms and Conditions</a> and allow Wippy to send me email</a></span>
              </label>
              <div class="arrow-container">
                <input type="submit" value="Continue" class="button button-full-width"><img src="img/arrow-right2.svg">
              </div>
            </form>
          </section>
        </aside>
        <footer class="g-d-12">
          <h3>What is Wippy? </h3>
          <p>It is an entertainment shopping website that provides shoppers an opportunity to purchase high end items for as low as 5% of its actual retail price! Shoppers simply buy the right to bid on items and win auctions at the lowest prices anywhere!</p>
        </footer>
      </section>
      <footer>
        <p>Wippy is owned by Flamingo Intervest and its payments are handled through Envi Payments Ltd. &copy; 2013 Wippy</p>
      </footer>
    </div>
  </body>
</html>
