app/payment.jade
extends layout

block content
  section#payment-page
    .content-container
      article.g-d-8.g-t-7.g-m-12
        form(name="register", method="get")
          .paypec
            table
              tr
                td
                  img(src="img/logo-paypec.svg")
                td
                  p Online Payment Simplified
          h2 Enter your card details:
          p.note Your credit card will only be charged NZ$ 4.00. (Delivery Fee)
          .g-d-12
            .error-msg
              span Please fill out the highlighted fields
          .g-d-8.g-t-12
            label(for="cc-number") Credit Card Number
            input.error(name="cc-number", type="text")
            label(for="cc-name") Cardholder Name
            input(name="cc-name", type="text")
          .g-d-4.g-t-12
            .g-d-12.g-t-6.g-m-12
              label(for="cc-control-number") Control Number
              .cvc-container
                input(name="cc-control-number", type="text")
                a.cvc-help(href="#")
                  img(src="img/cvc-guide.svg")
            .g-d-12.g-t-6.g-m-12
              label(for="cc-expiration-date") Expiration Date
              div(name="cc-expiration-date", class="cc-expiration-date")
                .g-d-5
                  select.js-chosen(name="cc-expiration-date-month")
                    option(value="1") 1
                    option(value="2") 2
                .g-d-7
                  select.js-chosen(name="cc-expiration-date-year")
                    option(value="2017") 2017
                    option(value="2018") 2018
          .g-d-12
            label.checkbox-in-label
              input(type="checkbox")
              span I am above 18 years old and I accept Wippy's <a href="#">Terms and Conditions</a> including subscription <a href="#">Terms</a> and allow Wippy to send me emails.
            input.button(type="submit", value="Claim My Prize!")

            .secured-payments
              h5 Secured payments with
              span
                img(src="img/payment-icons/verified-by-visa.svg")
                img(src="img/payment-icons/mastercard-securecode.svg")
                img(src="img/payment-icons/mastercard.svg")
                img(src="img/payment-icons/visa.svg")
                img(src="img/payment-icons/geotrust.svg")
            p.fineprint Included with this payment is a 1-day free Gold Membership. The normal monthly fee of $ 49.99 is charged 1 day after this purchase. The promotional gift item is only applicable if a minimum of one month membership fee is paid.
      aside.g-d-4.g-t-5.g-m-12
        section.included-in-this-offer
          h2 Included in this offer:
          ul.ul-circle
            li Free iPod Shuffle 2GB
            li Postal and handling fee for your welcome gift
        section.your-price-only
          h2 Your Price Only
          p NZ$4.00
        section.product-image
          img(src="img/ipod.png")
    footer.g-d-100
      h3 What is Wippy? 
      p It is an entertainment shopping website that provides shoppers an opportunity to purchase high end items for as low as 5% of its actual retail price! Shoppers simply buy the right to bid on items and win auctions at the lowest prices anywhere!

app/assets/payment.html
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]> <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]> <html class="no-js ie8" lang="en"> <![endif]-->
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>brunch-static-skeleton</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/jquery.min.js"></script>
    <!--[if lte IE 9]> <script src="js/media.match.min.js"></script> <![endif]-->
    <!--[if lte IE 8]> <script src="js/selectivizr.js"></script> <![endif]-->
    <script src="js/vendor.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]> <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p> <![endif]-->
    <div class="header-container">
      <header>
        <h1 class="logo"><a href="#"><span>Wippy.com</span><img src="img/logo-wippy.svg"></a></h1>
      </header>
    </div>
    <div class="main-container">
      <section id="payment-page">
        <div class="content-container">
          <article class="g-d-8 g-t-7 g-m-12">
            <form name="register" method="get">
              <div class="paypec">
                <table>
                  <tr>
                    <td><img src="img/logo-paypec.svg"></td>
                    <td>
                      <p>Online Payment Simplified</p>
                    </td>
                  </tr>
                </table>
              </div>
              <h2>Enter your card details:</h2>
              <p class="note">Your credit card will only be charged NZ$ 4.00. (Delivery Fee)</p>
              <div class="g-d-12">
                <div class="error-msg"><span>Please fill out the highlighted fields</span></div>
              </div>
              <div class="g-d-8 g-t-12">
                <label for="cc-number">Credit Card Number</label>
                <input name="cc-number" type="text" class="error">
                <label for="cc-name">Cardholder Name</label>
                <input name="cc-name" type="text">
              </div>
              <div class="g-d-4 g-t-12">
                <div class="g-d-12 g-t-6 g-m-12">
                  <label for="cc-control-number">Control Number</label>
                  <div class="cvc-container">
                    <input name="cc-control-number" type="text"><a href="#" class="cvc-help"><img src="img/cvc-guide.svg"></a>
                  </div>
                </div>
                <div class="g-d-12 g-t-6 g-m-12">
                  <label for="cc-expiration-date">Expiration Date</label>
                  <div name="cc-expiration-date" class="cc-expiration-date">
                    <div class="g-d-5">
                      <select name="cc-expiration-date-month" class="js-chosen">
                        <option value="1">1</option>
                        <option value="2">2</option>
                      </select>
                    </div>
                    <div class="g-d-7">
                      <select name="cc-expiration-date-year" class="js-chosen">
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="g-d-12">
                <label class="checkbox-in-label">
                  <input type="checkbox"><span>I am above 18 years old and I accept Wippy's <a href="#">Terms and Conditions</a> including subscription <a href="#">Terms</a> and allow Wippy to send me emails.</span>
                </label>
                <input type="submit" value="Claim My Prize!" class="button">
                <div class="secured-payments">
                  <h5>Secured payments with</h5><span><img src="img/payment-icons/verified-by-visa.svg"><img src="img/payment-icons/mastercard-securecode.svg"><img src="img/payment-icons/mastercard.svg"><img src="img/payment-icons/visa.svg"><img src="img/payment-icons/geotrust.svg"></span>
                </div>
                <p class="fineprint">Included with this payment is a 1-day free Gold Membership. The normal monthly fee of $ 49.99 is charged 1 day after this purchase. The promotional gift item is only applicable if a minimum of one month membership fee is paid.</p>
              </div>
            </form>
          </article>
          <aside class="g-d-4 g-t-5 g-m-12">
            <section class="included-in-this-offer">
              <h2>Included in this offer:</h2>
              <ul class="ul-circle">
                <li>Free iPod Shuffle 2GB</li>
                <li>Postal and handling fee for your welcome gift</li>
              </ul>
            </section>
            <section class="your-price-only">
              <h2>Your Price Only</h2>
              <p>NZ$4.00</p>
            </section>
            <section class="product-image"><img src="img/ipod.png"></section>
          </aside>
        </div>
        <footer class="g-d-100">
          <h3>What is Wippy? </h3>
          <p>It is an entertainment shopping website that provides shoppers an opportunity to purchase high end items for as low as 5% of its actual retail price! Shoppers simply buy the right to bid on items and win auctions at the lowest prices anywhere!</p>
        </footer>
      </section>
      <footer>
        <p>Wippy is owned by Flamingo Intervest and its payments are handled through Envi Payments Ltd. &copy; 2013 Wippy</p>
      </footer>
    </div>
  </body>
</html>
